<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906078390674-bj5lm2j5t48a9ucjti4iafcj3c5g0nr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906078390674-bj5lm2j5t48a9ucjti4iafcj3c5g0nr2</string>
	<key>API_KEY</key>
	<string>AIzaSyClhdRbTBXJB8o6QXOPOgWsIjWZoJkYikU</string>
	<key>GCM_SENDER_ID</key>
	<string>906078390674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramune.ramyune</string>
	<key>PROJECT_ID</key>
	<string>share-vocaloid</string>
	<key>STORAGE_BUCKET</key>
	<string>share-vocaloid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906078390674:ios:f1e1ed75bfcebea453994b</string>
</dict>
</plist>